* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

main h1 {
    font-family: 'Comforter Brush', cursive;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(25,135,84,1) 97%, rgba(25,135,84,1) 100%);
}


.box_clima{
    border: 2px solid;
    background-color:rgb(187, 235, 212);
}


